---
layout: default
title: Members
description: Official List of USA Channel 22 Members
---

<div class="panel panel-default">
	<div class="panel-heading">
		<span class="label label-info pull-right">Last revision: 2024-07-07</span>
		<h3 class="panel-title">USA Channel 22 Members</h3>
	</div>
	<div class="panel-body">
		<div class="col-md-4">
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th class="success">Senior Members</th>
					</tr>
				</thead>
				<tbody>
					{% for member in site.data.members.senior %}
					<tr>
						<td>{{ member.name }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="col-md-4">
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th class="info">Regular Members</th>
					</tr>
				</thead>
				<tbody>
					{% for member in site.data.members.regular %}
					<tr>
						<td>{{ member.name }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="col-md-4">
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th style="background-color:#111111;">Retired/Inactive Members</th>
					</tr>
				</thead>
				<tbody>
					{% for member in site.data.members.retired %}
					<tr>
						<td>{{ member.name }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>