---
layout: default
title: Quotes
---

<div class="panel panel-default panel-body">
	This is a page stuffed with juicy quotes. Most of them originate from members within our community, but some could be stolen or misquoted.
</div>
<div class="panel panel-default panel-body">
	<div class="row">
		{% for quote in site.data.quotes %}
			<div class="col-md-6">
				<blockquote>
					<p>{{ quote.quote }}</p>
					<footer>{{ quote.source }}{% if quote.date %}, {{ quote.date }}{% endif %}</footer>
				</blockquote>
			</div>
		{% endfor %}
	</div>
</div>