---
layout: default
title: Servers
description: List of dedicated servers hosted by USA Channel 22
---



<style>
   .croplistforge {
        width: 234px;
        height: 60px;
        overflow: hidden;
    }

    .croplistforge img {
        width: 234px;
        height: 60px;
        margin: -43px 0 0 -173px;
    }
	
	
   .cropgamestate {
        width: 560px;
        height: 95px;
        overflow: hidden;
    }

    .cropgamestate img {
		object-fit: cover;
        width: 200px;
        height: 95px;
        margin: -35px 0 0 -94px;
    
    }
</style>




<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">USA Channel 22 - Public Servers</h3>
	</div>
	<div class="panel-body">
		Here is a list of pur publicly available servers. To report any issues, please contact us on Siscord in the apropriate channel for the fastest response. Link on homepage.
		<br><br> 
		<a href="https://stats.uptimerobot.com/573oyH30Q">Uptime Robot</a>
	</div>
</div>



{% assign last_gametitle = "none" %} 
{% for type in site.data.serverspublic %}
	{% unless last_gametitle == type.gametitle %}
		{% assign last_gametitle = type.gametitle %}
		<div class="panel panel-default" style="background-image: url('/assets/images/servers/bg/{{ type.GameBG }}.jpg');background-position: center {{ type.GameBGY }};background-size: 100% auto;">
		
			<div class="panel-heading" style="background-color: #000000CC">
				{% if type.gamedownload %}
					<a href="{{ type.gamedownload }}" class="pull-right">(Download Here)</a>
				{% endif %}
				<h3 class="panel-title">{{ type.gametitle }}</h3> 
			</div>
			
			<div class="table-responsive" style="background-color: #00000088;">
			
				<div class="panel-body">
					{{ type.gamedescription }}
				</div>
				
				<table class="table table-bordered">
					<tbody>
					<tr>
						<th class="col-md-4"><b>Name</b></th>
						<td class="col-md-2"><b>Address</b></td>
						<td class="col-md-2"><b>Modpack</b></td>
						<td class="col-md-2"><b>Operation</b></td>
						<td class="col-md-2"><b>Live Status</b></td>
					</tr>
					{% for entry in site.data.serverspublic %}
						{% if entry.gametitle == type.gametitle %} 
								<tr>
								
									<th class="col-md-4">{{ entry.servertitle }}</th>
									
									{% if entry.serverurl %}
										{% if entry.Modpack contains "Server List" %}
											<td><a href="{{ entry.serverurl }}"><i>{{ entry.serveraddress }}</i></a></td>
										{% else %}
											<td><a href="{{ entry.serverurl }}">{{ entry.serveraddress }}</a></td>
										{% endif %}
									{% else %}
										{% if entry.Modpack contains "Server List" %}
											<td><i>{{ entry.serveraddress }}</i></td>
										{% else %}
											<td>{{ entry.serveraddress }}</td>
										{% endif %}
									{% endif %}
									
									
									
									{% if entry.Modpack contains "None" %}
										<td class="col-md-2" style="color: #00FF00">{{ entry.Modpack }}</td>
										
									{% else if entry.Modpack contains "Automatic" %}
										<td class="col-md-2" style="color: #FFFF00">{{ entry.Modpack }}</td>
										
									{% else if entry.Modpack contains "Ch22 Modpack Updater" %}
										<td class="col-md-2" style="color: #FFD800">{{ entry.Modpack }}</td>
										
									{% else if entry.Modpack contains "Manual" %}
										<td class="col-md-2" style="color: #FF6A00">{{ entry.Modpack }}</td>
										
									{% else %}
										<td class="col-md-2" style="color: #FFFFFF">{{ entry.Modpack }}</td>
									{% endif %}
									
									
									
									{% if entry.serveraccess contains "Online" %}
										<td class="col-md-2" style="color: #00FF00">{{ entry.serveraccess }}</td>
										
									{% else if entry.serveraccess contains "Offline" %}
										<td class="col-md-2" style="color: #FF0000">{{ entry.serveraccess }}</td>
										
									{% else %}
										<td class="col-md-2" style="color: #FFD800">{{ entry.serveraccess }}</td>
									{% endif %}
									
									
									{% if entry.LiveStatusService contains "LF" %}
										<td class="croplistforge"><img src="{{ entry.LiveStatusURL }}" class="myImage"></td>
										
									{% else if entry.LiveStatusService contains "GS" %}
										<td class="cropgamestate"><img src="{{ entry.LiveStatusURL }}" class="myImage"></td>
										
									{% else %}
										<td><i>Not Monitored</i></td>
									{% endif %}
									
								</tr>
								
						{% endif %}
					{% endfor %}
					</tbody>
				</table>
				
			</div>
			
		</div>
	{% endunless %}
{% endfor %}



<br>
<br>
<br>
<br>



<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">USA Channel 22 - Members Servers</h3>
	</div>
	<div class="panel-body">
		It is free to be a member or an associate of USA Channel 22, the main rule is you can't be a dick.
		<br><br> 
		That being said, MOST of these servers are open to all members and associates, though some may have extra requirements. To join, simply join our Discord and introduce yourself. Link is on the homepage.
	</div>
</div>



{% assign last_gametitle = "none" %} 
{% for type in site.data.serversmembers %}
	{% unless last_gametitle == type.gametitle %}
		{% assign last_gametitle = type.gametitle %}
		<div class="panel panel-default" style="background-image: url('/assets/images/servers/bg/{{ type.GameBG }}.jpg');background-position: center {{ type.GameBGY }};background-size: 100% auto">
		
			<div class="panel-heading" style="background-color: #000000CC">
				{% if type.gamedownload %}
					<a href="{{ type.gamedownload }}" class="pull-right">(Download Here)</a>
				{% endif %}
				<h3 class="panel-title">{{ type.gametitle }}</h3> 
			</div>
			
			<div class="table-responsive" style="background-color: #00000088;">
			
				<div class="panel-body">
					{{ type.gamedescription }}
				</div>
				
				<table class="table table-bordered">
					<tbody>
					<tr>
						<th class="col-md-4"><b>Name</b></th>
						<td class="col-md-2"><b>Address</b></td>
						<td class="col-md-2"><b>Modpack</b></td>
						<td class="col-md-2"><b>Status (not realtime)</b></td>
					</tr>
					{% for entry in site.data.serversmembers %}
						{% if entry.gametitle == type.gametitle %} 
								<tr>
								
									<th class="col-md-4">{{ entry.servertitle }}</th>
									
									{% if entry.serverurl %}
										{% if entry.Modpack contains "Server List" %}
											<td><a href="{{ entry.serverurl }}"><i>{{ entry.serveraddress }}</i></a></td>
										{% else %}
											<td><a href="{{ entry.serverurl }}">{{ entry.serveraddress }}</a></td>
										{% endif %}
									{% else %}
										{% if entry.Modpack contains "Server List" %}
											<td><i>{{ entry.serveraddress }}</i></td>
										{% else %}
											<td>{{ entry.serveraddress }}</td>
										{% endif %}
									{% endif %}
									
									
									
									{% if entry.Modpack contains "None" %}
										<td class="col-md-2" style="color: #00FF00">{{ entry.Modpack }}</td>
										
									{% else if entry.Modpack contains "Automatic" %}
										<td class="col-md-2" style="color: #FFFF00">{{ entry.Modpack }}</td>
										
									{% else if entry.Modpack contains "Ch22 Modpack Updater" %}
										<td class="col-md-2" style="color: #FFD800">{{ entry.Modpack }}</td>
										
									{% else if entry.Modpack contains "Manual" %}
										<td class="col-md-2" style="color: #FF6A00">{{ entry.Modpack }}</td>
										
									{% else %}
										<td class="col-md-2" style="color: #FFFFFF">{{ entry.Modpack }}</td>
									{% endif %}
									
									
									
									{% if entry.serveraccess contains "Online" %}
										<td class="col-md-2" style="color: #00FF00">{{ entry.serveraccess }}</td>
										
									{% else if entry.serveraccess contains "Offline" %}
										<td class="col-md-2" style="color: #FF0000">{{ entry.serveraccess }}</td>
										
									{% else %}
										<td class="col-md-2" style="color: #FFD800">{{ entry.serveraccess }}</td>
									{% endif %}
									
									
									{% if entry.LiveStatusService contains "LF" %}
										<td class="croplistforge"><img src="{{ entry.LiveStatusURL }}" class="myImage"></td>
										
									{% else if entry.LiveStatusService contains "GS" %}
										<td class="cropgamestate"><img src="{{ entry.LiveStatusURL }}" class="myImage"></td>
										
									{% else %}
										<td><i>Not Monitored</i></td>
									{% endif %}
									
								</tr>
								
						{% endif %}
					{% endfor %}
					</tbody>
				</table>
				
			</div>
			
		</div>
	{% endunless %}
{% endfor %}
