<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-47257999-3"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-47257999-3');
    </script>
    
    <!-- Required Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title>USA Channel 22 - {{ page.title }}</title>

    <!-- Additional Meta Tags -->
    <meta name="theme-color" content="#375a7f"> <!-- match navbar color -->
    <meta name="author" content="stere0123">
    <meta name="description" content="USA Channel 22 is a small community of gamers and tech enthusiasts with over 20 members.">

    <!-- Favicons -->
    <link rel='shortcut icon' href='favicon.ico' type='image/x-icon' />

    <!-- Facebook Open Graph -->
    <meta property="og:url" content="https://usachannel22.com/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="USA Channel 22">
    <meta property="og:image" content="https://usachannel22.com/assets/images/logo_full.png">
    <meta property="og:description" content="USA Channel 22 is a small community of gamers and tech enthusiasts with over 20 members.">
    <meta property="og:site_name" content="USA Channel 22">
    <meta property="og:locale" content="en_US">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@usachannel22">
    <meta name="twitter:creator" content="@stere0123">
    <meta name="twitter:url" content="https://usachannel22.com/">
    <meta name="twitter:title" content="USA Channel 22">
    <meta name="twitter:description" content="USA Channel 22 is a small community of gamers and tech enthusiasts with over 20 members.">
    <meta name="twitter:image" content="https://usachannel22.com/assets/images/logo_full.png">

    <!-- Custom CSS -->
    <style>
        body.c5 {
            background-color: #111111;
            padding-top: 81px;
        }

        .container {
            max-width: 900px !important;
        }

        .left {
            float: left;
        }

        .right {
            float: right;
        }

        .middle {
            margin: 0 auto !important;
        }

        blockquote {
            font-size: 16px !important;
        }
    </style>
    
	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.4.0/darkly/bootstrap.min.css" integrity="sha256-a6HBWqyyXFT1Ns1ZF23UVanh2xXW2uuNgIL238JrFCQ=" crossorigin="anonymous" />
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	
    <!-- cheeky javascript -->
    <script>
        console.log("%c you're mom gay ", "font: 4em 'Comic Sans MS'; color: magenta; background-color: black;");
    </script>
</head>
<!-- get your nosey ass out of here -->

<body class="c5">
    <div class="container c4">
        {% include navigation.html %}

        <!-- <[end header section]> -->
		
		{{ content }}
		
		<!-- <[begin footer section]> -->

        <div class="panel panel-default panel-body text-center">
            <a href="https://usachannel22.com">
                <span class="label label-info">&copy; USA Channel 22</span>
            </a>
        </div>
    </div>
	
	<!-- jQuery (required for BS JS) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.0/js/bootstrap.min.js" integrity="sha256-kJrlY+s09+QoWjpkOrXXwhxeaoDz9FW5SaxF8I0DibQ=" crossorigin="anonymous"></script>
</body>

</html>